#-----------------------------------------
# beans python packages requirements
#
# based on https://github.com/adellej/beans/blob/master/docs/installation.rst
# works with miniconda python 3.8
#-----------------------------------------
# emcee v3.0 or above
emcee>=3.0
# h5py==v2.10.0 or above. To install h5py v2.10.0 on Ubuntu
#   you will need to use pip wheels, e.g. $ pip install h5py==2.10.0
h5py>=2.10.0
pySettle>=1.3.0
matplotlib
numpy
corner
astropy
scipy
tables
chainconsumer<=0.34.0
pytest
sphinx_rtd_theme
